{{define "title"}}Account Recovery{{end}}

{{define "header"}}
<style>
  body {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  /* Custom container */
  .container {
    margin: 0 auto;
    max-width: 700px;
  }
  .container > hr {
    margin: 30px 0;
  }

  /* Main marketing message and sign up button */
  .jumbotron {
    margin: 60px 0;
    text-align: center;
  }
  .jumbotron h1 {
    font-size: 72px;
    line-height: 1;
  }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
</style>
{{end}}

{{define "page"}}
<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li><a href="/">Home</a></li>
    <li><a href="/signin">Sign in</a></li>
  </ul>
  <h3 class="muted">Example</h3>
</div>

<hr>

<div class="jumbotron">
  <h1>Done!</h1>
  <p class="lead">A confirmation email has been sent to <b>{{.Email}}</b> with instructions.</p>
  <a class="btn btn-large btn-success" href="/signin">Sign in</a>
</div>
{{end}}

{{define "scripts"}}{{end}}
