{{define "title"}}Account Settings{{end}}

{{define "header"}}
<style>
  body {
    padding-top: 60px;
  }
  .form-custom {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }
  .form-custom .form-custom-heading,
  .form-custom .checkbox {
    margin-bottom: 10px;
  }
  .form-custom input[type="text"],
  .form-custom input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }
</style>
{{end}}

{{define "page"}}
<form class="form-custom" method="post">
  <h2 class="form-custom-heading">Account settings</h2>
  <label>Name</label>
  <input type="text" class="input-block-level" placeholder="Full Name" name="name" id="name" value="{{.User.FullName.String}}">
  {{if .ErrInvalidName}}
  <div class="alert alert-error">Invalid name<a class="close" data-dismiss="alert">×</a></div>
  {{end}}

  <label>Password</label>
  <input type="password" class="input-block-level" placeholder="Old password" name="passwd0">
  {{if .ErrAuthFailed}}
  <div class="alert alert-error">Incorrect password<a class="close" data-dismiss="alert">×</a></div>
  {{end}}

  <input type="password" class="input-block-level" placeholder="New password" name="passwd1">
  <input type="password" class="input-block-level" placeholder="Confirm" name="passwd2">
  {{if .ErrInvalidPassword}}
  <div class="alert alert-error">Invalid password<a class="close" data-dismiss="alert">×</a></div>
  {{else}}{{if .ErrPasswdMismatch}}
  <div class="alert alert-error">Passwords don't match<a class="close" data-dismiss="alert">×</a></div>
  {{end}}{{end}}
  {{if .Saved}}
  <div class="alert alert-success">Saved!<a class="close" data-dismiss="alert">×</a></div>
  {{end}}

  <button class="btn btn-large btn-primary" type="submit"><i class="icon-ok icon-white"></i> Save</button>
</form>
{{end}}

{{define "scripts"}}
<script>
$(document).ready(function(){
  {{if .FocusOnPasswd0}}
    $("#passwd0").focus();
    {{else}}{{if .FocusOnPasswd1}}
    $("#passwd1").focus();
  {{end}}{{end}}
  $("#name").keypress(function (e){
    if (e.which == 13) {
      $("form").submit();
      return false;
    }
  });
  $("#passwd2").keypress(function (e){
    if (e.which == 13) {
      $("form").submit();
      return false;
    }
  });
});
</script>
{{end}}
