{{define "content"}}
<div class="container">
	<div class="masthead">
		<ul class="nav nav-pills pull-right">
			<li><a href="../">Home</a></li>
		</ul>
		<h3 class="muted">%template%</h3>
	</div>
	<hr>
	<form class="single-page-form" method="POST" action="">
		<h2 class="single-page-form-heading">Sign up confirmation</h2>
		{{if .AlreadyActive}}
		<div class="alert alert-danger">
			This account is already active. <a href="../login/">Sign in</a>.
		</div>
		{{else}}
			Hello, <p>{{.Email}}</p>

			<input type="text" class="form-control" name="FullName" value="{{.FullName}}" placeholder="Full Name (optional)" autofocus>
			{{if .InvalidName}}
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				Invalid name.
			</div>
			{{end}}
			<input type="password" class="form-control" name="Passwd" value="{{.Passwd}}" placeholder="Password">
			{{if .InvalidPasswd}}
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				Password must be at least 4 characters long.
			</div>
			{{end}}
			<input type="password" class="form-control" name="Passwd2" value="{{.Passwd2}}" placeholder="Confirm password">
			{{if .PasswdMismatch}}
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				Password and confirmation does not match.
			</div>
			{{end}}
			<button class="btn btn-primary">Continue</button>
		{{end}}
	</form>
	<hr>
	<div class="footer">
		<p>&copy; 2013 %template%</p>
	</div>
</div> <!-- /container -->
{{end}}
