{{define "content"}}
<div class="container">
	<div class="masthead">
		<ul class="nav nav-pills pull-right">
			<li><a href="../">Home</a></li>
			<li><a href="../login/">Sign in</a></li>
		</ul>
		<h3 class="muted">%template%</h3>
	</div>
	<hr>
	<div class="jumbotron">
		<h1>Thank you!</h1>
		<p class="lead">Follow the instructions in the confirmation email.</p>
		<p><small class="muted">Please check the spam folder also, just in case.</small></p>
		<a class="btn btn-large btn-success" href="../login/">Sign in</a>
	</div>
	<hr>
	<div class="footer">
		<p>&copy; 2013 %template%</p>
	</div>
</div> <!-- /container -->
{{end}}
