{{define "title"}}Sign Up{{end}}

{{define "header"}}
<style>
  body {
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }

  .form-custom {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }
  .form-custom .form-custom-heading,
  .form-custom .checkbox {
    margin-bottom: 10px;
  }
  .form-custom input[type="text"],
  .form-custom input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }
</style>
{{end}}

{{define "page"}}
<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li><a href="/">Home</a></li>
  </ul>
  <h3 class="muted">Example</h3>
</div>

<hr>

<form class="form-custom" method="post">
  <h2 class="form-custom-heading">Account set up</h2>
  <input type="text" class="input-block-level" placeholder="Full Name (optional)" name="name" id="name" value="{{.Name}}">
  {{if .ErrInvalidName}}
  <div class="alert alert-error">Invalid name.<a class="close" data-dismiss="alert">×</a></div>
  {{end}}
  <input type="password" class="input-block-level" placeholder="Password" name="passwd" id="passwd">
  <input type="password" class="input-block-level" placeholder="Confirm" name="confirm" id="confirm">
  {{if .ErrInvalidPasswd}}
  <div class="alert alert-error">Password must be at least 4 characters long.<a class="close" data-dismiss="alert">×</a></div>
  {{else}}{{if .ErrPasswdMismatch}}
  <div class="alert alert-error">Password and confirmation does not match.<a class="close" data-dismiss="alert">×</a></div>
  {{end}}{{end}}
  <button class="btn btn-large btn-success" type="submit"><i class="icon-ok icon-white"></i> Save</button>
</form>
{{end}}

{{define "scripts"}}
<script>
$(document).ready(function(){
  {{if .FocusOnPasswd}}
    $("#passwd").focus();
  {{else}}
    $("#name").focus();
  {{end}}
  $("#passwd2").keypress(function (e){
    if (e.which == 13) {
      $("form").submit();
      return false;
    }
  });
});
</script>
{{end}}
